@font-face {
  font-family: "Roma Bold";
  src: url("../fonts/Roma-Bold-iF6666b54004527.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* .contenedor-padress {

  background-color: #243d74;
  box-shadow: -10px 10px 20px #5a5a5a, 10px -10px 20px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-left: 300px;
  margin-right: 300px;
  border: 3px solid #dbc078;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1133) {
  .contenedor-padres {
    flex: 0 0 100%;
 
    margin: 0;
  }
}

@media (max-width: 768px) {
  .contenedor-padres {
    width: 100%;
    align-self: center;
    justify-content: center;
    /* padding: 20px; */

/* 
.title {
  text-align: center;
  color: #dbc078;
  font-family: "Roma Bold", sans-serif;
  font-size: 36px;
  margin: 20px;
}

.contenedor-right {
  width: 700px;
  padding: 10px;
  background-color: none;
  margin: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contenedor-left {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: none;
  margin: 10px 0;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 20px;
}

.left,
.right {
  background-color: none;
  padding: 20px;

  color: #fff;
  text-align: center;

  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: auto;
  height: 600px;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

/* Responsividad */
/* @media (max-width: 1146px) {
  .left,
  .right {
    width: 100%;
    align-self: center;
    flex: 0 0 100%;
  }
} 

@media (max-width: 768px) {
  .left,
  .right {
    width: 100%;
    align-self: center;

    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .right {
    align-self: flex-end;
  }
}



.card {
  width: 450px;
  /** tamaño control
  height: 600px;
  perspective: 1000px;
  background-color: #243d7400;
  border: none;
}

.card-inner {
  width: 450px;
  /** tamaño control
  height: 600px;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
  border-radius: 50%;
  background-color: #ff000000;
} */

/* .card:hover .card-inner {
  transform: rotateY(180deg);
} */

/* .card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6a2c7000;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6a2c7000;
  border-radius: 50%;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);

  width: 450px;

  height: 600px;
  cursor: pointer;
}

.card-back {
  background-color: #00000000;
  color: #fff;
  display: flex;
  align-items: center;

  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);

  width: 450px;

  height: 600px;
}

.img-contain {
  border: 1px solid black;

  width: 100%;

  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;

  object-fit: cover;
}

@media (max-width: 768px) {
  .img-contain {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .img-contain,
  .card-back,
  .card-front,
  .card-inner {
    width: 100%;
    flex: 0 0 100%;
  }
} */

/* .texto {
  border: 2px solid #dbc078;
  border-radius: 30px;
  padding: 7px;
  width: 100%;
  height: fit-content;
  /* margin: 20px; */
/* font-size: 18px;
  background-color: #1a6cb4;
}  */

/* @media (max-width: 768) {
  .texto {
    width: 450px;
    font-size: 13px;
    padding: 5px;
  }
}

@media (min-width: 768) {
  .texto {
    width: 200px;
    font-size: 10px;
  }
}

.texto h3 {
  color: #dbc078;
}

.descrip {
  color: white;
  font-size: larger;
} */

/** Nuevas cards*/

.contenedor-padre {
  background-color: #243d74;
  box-shadow: -10px 10px 20px #5a5a5a, 10px -10px 20px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  border: 3px solid #dbc078;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}
.title {
  text-align: center;
  color: #dbc078;
  font-family: "Roma Bold", sans-serif;
  font-size: 36px;
  margin: 20px;
}

.tarjeta {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #cccccc00;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.imagen {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.imagen:hover {
  transition: 0.8s ease;

  transform: scale(1.05) rotate(10deg);
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto {
  margin-left: 10px;
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 400px; /* Ajustar el ancho máximo del contenedor de texto */
  border: 2px solid #dbc078;
  border-radius: 20px;
  text-align: center justify;
  color: #dbc078;
  background-color: #1a6cb4;
  padding: 20px;
}

.texto p {
  color: white;
  font-size: 1.2rem;
}

.texto h4 {
  color: #dbc078;
  font-size: 1.6rem;
  text-align: center;
}

.tarjeta.derecha {
  flex-direction: row-reverse;
  gap: 10px;
}

@media (max-width: 600px) {
  .tarjeta {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .texto {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100%; /* Permitir que el texto ocupe todo el ancho en pantallas pequeñas */
  }
  .tarjeta.derecha {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .texto {
    font-size: 3.5vw; /* Ajuste adicional para pantallas muy pequeñas */
  }
}

@media (max-width: 1133px) {
  .contenedor-padre {
    padding: 20px;
    margin: 0;
  }
}
