@font-face {
    font-family: "Roma Bold";
    src: url("/fonts/Roma-Bold-iF6666b54004527.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roma SemiBold";
    src: url("/fonts/Roma-SemiBold-iF6666b5401d862.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ivymode";
    src: url("/fonts/IvyMode-ThinItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body{
    padding: 0;
    margin: 0;
    background: rgb(231, 231, 231);    
}

main{


}

.video-banner {
    position: relative;
    width: 100%;
    height: 95vh; /* Ajusta el tamaño del banner */
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /*background: rgba(0, 0, 0, 0.44); /* Oscurece el video para mejor visibilidad del texto */
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .overlay p {
    font-size: 1.5rem;
    margin-top: 10px;
  }

h1 {
    font-family: "Roma Bold", sans-serif;
    text-align: center;
}

.categories{
    text-align: center;
}

.categorie-card{
    display: inline-block;
    width: 375px;
    background: #DBC078;
    /*border-radius: 8px;*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #1D1D1B;
    font-family: "Ivymode", sans-serif;
    font-weight: bolder;
}

.categorie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.categorie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.categorie-card p {
    margin: 10px 0 5px;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}
.categorie-card span {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
    display: block;
    padding: 0 10px;
}
.populars{
    text-align: center;
  

}

.popular-card{
    display: inline-block;
    background-color: rgb(221, 221, 221);
    width: 15%;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.specials {
    text-align: center;
    padding: 20px;
    background-color: #F8F8F8;
}

.specials h1 {
    font-family: "Roma Bold", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.special-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px; /* Ajuste para acomodar el texto adicional */
    margin: 10px;
    background-color: #FFF;
    border: 2px solid #DBC078;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px; /* Espaciado interno */
    text-align: center;
}

.special-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.special-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.special-card p {
    font-family: "Ivymode", sans-serif;
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
    margin: 0;
}

.special-card span {
    font-family: "Ivymode", sans-serif;
    font-size: 0.9rem; /* Tamaño más pequeño para descripción */
    color: #777;
    margin-top: 5px;
    line-height: 1.4;
    font-weight: bolder;
}


.bussines {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4; /* Color suave para fondo */
}

.bussines h1 {
    font-family: "Roma Bold", sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.bussines-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite apilar contenido en pantallas pequeñas */
    padding: 20px;
}

.bussines-image {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    min-width: 300px; /* Mínimo ancho para imagen */
    text-align: center;
}

.bussines-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bussines-text {
    flex: 1;
    min-width: 300px; /* Mínimo ancho para texto */
    text-align: left;
}

.bussines-text h2 {
    font-family: "Roma SemiBold", sans-serif;
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 10px;
}

.bussines-text p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.bussines-text ul {
    list-style: disc;
    padding-left: 20px;
    color: #444;
}

.bussines-text ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}


